{% extends "base.html" %}

{% block title %}Gestão de Aluguel{% endblock title %}

{% block content %}
 <div class="col-md-12">
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Id</th>
                <th>Edifício</th>
            </thead>
            <tbody>
            {% for ed in edificio %}
                <tr>
                <td>{{ ed.id }}</td>
                <td>{{ ed.edificio_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <span><a href="/addnewed" class="btn btn-primary btn-lg">Adicionar Edifício</a></span>
        <span><a href="/addnewap" class="btn btn-primary btn-lg">Adicionar Apartamento</a></span>
        <span><a href="/" class="btn btn-danger btn-lg">Voltar</a></span>
    </div>
{% endblock content %}
