{% extends "base.html" %}

{% block title %}Adicionar novo Apartamento{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/addnewap">
    {% csrf_token %}
    <div class="container">
        <div class="col-12">
        <h3>Informe os Detalhes</h3>
        </div>

        <div class="mb-3">
            <label>Nome:</label>
            {{ form.ap_name }}
        </div>
        <div class="mb-3">
            <label>Status:</label>
            <select name="ap_status" value="{{ form.ap_status }}">
                <option value=1>Livre</option>
                <option value=0>Alugado</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Edificío:</label>
            {{ form.edificio_id }}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            <span><a href="/edificio" class="btn btn-danger btn-lg">Voltar</a></span>
        </div>
    </div>
    </form>
</div>
{% endblock content %}
