{% extends "base.html" %}

{% block title %}Alugar apartamento{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/update/{{ apartamento.id }}">
    {% csrf_token %}
    <div class="container">
        <div class="col-12">
            <h3>Detalhes do Aluguel</h3>
        </div>
        <div class="mb-3">
            <label>Apartamento:</label>
            <input type="text" class="form-control" name="id" id="id" required maxlength="10" value="{{ apartamento.id }}" disabled />
        </div>
        <div class="mb-3">
            <label>Nome do Apartamento:</label>
            <input type="text" class="form-control" name="ap_name" id="ap_name" required maxlength="100" value="{{ apartamento.ap_name }}" />
        </div>
        <div class="mb-3">
            <label>Status do Apartamento:</label>
            <select class="form-control" name="ap_status" id="ap_status" value="{{ apartamento.ap_status }}">
                <option value=1>Livre</option>
                <option value=0>Alugado</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Edifício:</label>
            <input type="text" class="form-control" name="edificio_id" id="edificio_id" required maxlength="100" value="{{ apartamento.edificio_id }}" />
        </div>
        <div class="mb-3">
            <label>Valor:</label>
            <input type="number" step="0.01" class="form-control" name="valor_aluguel" id="valor_aluguel" maxlength="10" value="" />
        </div>
        <div class="mb-3">
            <label>Nome do Locatário:</label>
            <input type="text" class="form-control" name="locatario_nome" id="locatario_nome" maxlength="100" value="" />
        </div>
        <div class="mb-3">
            <label>Contato:</label>
            <input type="text" class="form-control" name="locatario_contato" id="locatario_contato" maxlength="15" value="" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg" >Liberar</button>
            <span><a href="/info/{{ apartamento.id }}" class="btn btn-danger btn-lg">Voltar</a></span>
        </div>
    </div>
    </form>
</div>
{% endblock content %}