{% extends "base.html" %}

{% block title %}Gestão de Aluguel{% endblock title %}

{% block content %}
 <div class="col-md-12">
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th>Edifício</th>
            <th>Apartamento</th>
            <th>Status</th>
            <th>Locatario</th>
            <th>Valor</th>
            <th>Opção</th>
        </thead>
        <tbody>
        {% for ap in apartamento %}
            <tr>
            <td>{{ ap.edificio_id }}</td>
            <td>{{ ap.ap_name }}</td>
            <td>
                {% if ap.ap_status %}
                    {{ "Livre" }}
                {% else %}
                    {{ "Alugado" }}
                {% endif %}
            </td>
            <td>
                {% if ap.ap_status %}
                    {{ "--------------------------" }}
                {% else %}
                    {{ ap.locatario_nome }}
                {% endif %}
            </td>
            <td>
                {% if ap.ap_status %}
                    {{ "--------------------------" }}
                {% else %}
                    {{ ap.valor_aluguel }}
                {% endif %}
            </td>
            <td>
                {% if ap.ap_status %}
                    <a href="/alugar/{{ ap.id }}" class="btn btn-primary btn-lg">Alugar</a>
                {% else %}
                    <a href="/info/{{ ap.id }}" class="btn btn-danger btn-lg">Info</a>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}
